<!--Nav Bar-->
    <nav class="navBar">
        <nav class="wrapper">
            <div class="logo" >
                <a href="{{ BASE_PATH }}/index.html"><img src="{{ BASE_PATH }}/img/logo.png" alt="MOREL" class="logo-img"></a>

            </div>


            <input type="checkbox" id="menu-toggle" />
            <label for="menu-toggle" class="label-toggle"></label>
            <ul>
                  {% for item in site.data.navigation %}

                <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
              {% endfor %}
            </ul>
        </nav>
    </nav>