<div class="about sombra">
            <div class="ficha-container" style="">
                <div class="ficha-title">
                    <h2>
                        Acerca de {{ site.title }}
                    </h2>
                </div>
                <div class="ficha-extract" style="">
                    <p>{{ site.author.description }}</p>
                </div>
            </div>
            <div class="portada" style="">
                <div class="img-frame">
                    <img src="{{ BASE_PATH }}/img/avatar.png" class="responsive">
                </div>
            </div>
</div>